@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,500;1,900&display=swap');

:root{
    --color-primary:#7159c1;
    --color-secundary:#F7DF1E;

}

* {
    padding: 0;
    border: 0;
    margin: 0;
}

body{
    background-color: var(--color-primary);
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

.links{
    font-size: 22px;
}

/* a + a coloca o margin apenas no segundo a da div */
.links a + a{
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: #777;
    position: relative;
}

.links a.active{
    font-weight: 900;
    color: var(--color-primary);
}

.links a:hover {
    /* text-decoration:underline ; */
    color: var(--color-primary);
}

.links a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--color-primary);
    position: absolute;
    left: 0;
    bottom: -3px;
}

.links a:hover::after {
    width: 100%;
    /* transition: width 400ms cubic-bezier(0.68, 0.21, 0.35, 1.82); */
    transition: width 400ms ease-in-out;
}

/* ==== CARD ==== */

.card{
    background-color: white;
    width: 800px;
    min-height: 400px;
    margin: 45px auto;

    /* grid */
    display: grid;
    grid-template-columns: 1fr 1fr;

    /* sombra */
    box-shadow: 0px 3px 7px -1px black;

    /* animation */
    animation-name: up;
    animation-duration: 200ms;
    animation-timing-function: ease-out;

    /* == ANIMATION EM 1 LINHA 
        animation: up 200ms easy-out;
     */

    /* animation-fill-mode: forwards;  faz a trasição de imagem parar no @keyframes TO */
    /* animation-delay: 1s; */
    /* animation-play-state: running; aqui podemos deixar a animação pausada e ativa-la com js. */
    /* animation-iteration-count: infinite; faz com que a animação rode infinitamente ou se colodado (3) ela rodará trÊs vezes, n vezes; */
    /* animation-direction: reverse; faz com que a animação rode ao contrário ou seja do TO ao FROM do @keyframes */
}

@keyframes up{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
    }
}

/* ==== DETAILS ==== */

.details {
    padding: 32px;
}

.details .item{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0;
}

.details .item div:last-child{
    border: none;
}

.details .item div:nth-child(1){
    color: #777;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
}

.details .item div:nth-child(2){
    color: #555;
    font-weight: 900;
    font-size: 18px;
}

.details h3{
    color: #777;
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-primary);
}

.details .item span{
    padding: 8px 16px;
    background-color: var(--color-secundary);
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block; /* como a TAG é uma SPAN ela não respeita o margin, então com (inline-block) ela passa a respeitar o margin-top */
    font-weight: 900;
    text-transform: uppercase;
    font-size: 12px;
}

/* ==== FORMs ==== */

input{
    width: 100%;
    outline: none;
    color: #555;
    font-weight: 900;
    font-size: 18px;
}

input[type="radio"]{
    width: initial;
    margin-right: 4px;
}

input::placeholder{
    font-size: 16px;
    font-weight: normal;
}

button[type="submit"]{
    padding: 8px 32px;
    background-color: var(--color-primary);
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    font-size: 16px;
    color: white;
}