{% extends "layout.njk" %}

{% block content %}

    <section class="hero">
        <div class="intro">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </div>
        <img src="/chef.png" alt="">
    </section>

    <main>

        <h2>Mais acessadas</h2>

        <div class="content">

            <div class="card">
                <img src="/burger.png" alt="">
                <h4>Triplo bacon burger</h4>
                <p>por Jorge Relato</p>
            </div>
            <div class="card">
                <img src="/pizza.png" alt="">
                <h4>Pizza 4 estações</h4>
                <p>por Fabiana Melo</p>
            </div>
            <div class="card">
                <img src="/espaguete.png" alt="">
                <h4>Espaguete ao alo</h4>
                <p>por Júlia Kinoto</p>
            </div>
            <div class="card">
                <img src="/lasanha.png" alt="">
                <h4>Lasanha mac 'n cheese</h4>
                <p>por Juliano Vieira</p>
            </div>
            <div class="card">
                <img src="/doce.png" alt="">
                <h4>Docinhos pão-do-céu</h4>
                <p>por Ricardo Golvea</p>
            </div>
            <div class="card">
                <img src="/asinhas.png" alt="">
                <h4>Assinhas de frango ao barbecue</h4>
                <p>por Vania Steroski</p>
            </div>

        </div>

    </main>

{% endblock content %}