<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Spec Export - Sketch Measure 2.4</title>
        <link rel="stylesheet" href="/styles.css">
        <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    </head>

    <body>
        <div class="wrapper">
            <header>
                <img src="/logo.png" alt="">
                <div class="menu">
                    <a href="/about">Sobre</a>
                    <a href="/receitas">Receitas</a>
                </div>
            </header>
            {% block content %}{% endblock %}
        </div>

        <footer>
            Todos direitos reservados, receitas Foodfy.
        </footer>

        {% block modal %}{% endblock %}

    </body>

</html>