{% extends "layout.njk" %}

{% block content %}
    <main>

        <div class="content_receita">

            <div class="receita-head">
                <img src="{{item.image}}" alt="Imagem de {{item.title}}">
                <h4>{{item.title}}</h4>
                <p>por
                    {{item.author}}</p>
            </div>

        </div>
        <section class="receitas">
            <div class="receita-info">

                <div class="info">
                    <h4>Ingredientes</h4>
                    <a class="bottomReceita" href="">mostrar</a>
                </div>

                <div class="information">
                    <ul>
                        {% for ing in item.ingredients %}
                            <li>{{ing}}</li>
                        {% endfor %}
                    </ul><br>
                </div>

            </div>

            <div class="receita-info">

                <div class="info">
                    <h4>Modo de preparo</h4>
                    <a class="bottomReceita" href="">mostrar</a>
                </div>

                <div class="information">
                    <p>{{item.preparation}}</p><br>
                </div>

            </div>

            <div class="receita-info">

                <div class="info">
                    <h4>Mais Informação</h4>
                    <a class="bottomReceita" href="">mostrar</a>
                </div>

                <div class="information">
                    <p>{{item.information}}</p><br>
                </div>

            </div>

        </section>

    </main>
{% endblock content %}

<script src="/scripts.js"></script>

</body>

</html>